<app-header></app-header>

<div class="jumbotron">
    <h1 class="display-3">Aplicacion</h1>
    <p class="lead">Aqui usted podrá ver los detalles de su aplicaión y los mensajes por parte de los asesores según lo requiera el caso</p>
    <hr class="my-4">
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Error en documento!</h4>
        <p class="mb-0">Olvido cargar el documento "Formulario de aplicación" carguelo en el siguiente <a href="">link</a></p>
    </div>
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Documentos correctos!</h4>
        <p class="mb-0">Todos lo archivos requeridos se encuentran listos</p>
    </div>
    <div class="alert alert-dismissible alert-primary">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Estado de revision!</h4>
        <p class="mb-0">Se pasaran los archivos a un estado de revision y se notificará cuando se tenga respuesta</p>
    </div>
    <p class="lead">
    </p>
</div>
